existingSecret: postgres-secrets

postgresqlUsername: postgres

postgresqlDatabase: stan

persistence:
    enabled: true
    size: 20Gi

metrics:
    enabled: true
    serviceMonitor:
        enabled: true
        additionalLabels:
            release: prometheus-operator
            app: prometheus-operator
        namespace: {{ namespace.prometheus }}
        interval: 30s
        scrapeTimeout: 10s
